<div class="control-group signatures">
    <label class="control-label">{{i18n "telegram-notifications.preferences-title"}}</label>
    <div class="controls">
      <label class='text-label'>
        {{input type="text" value=model.custom_fields.telegram_chat_id}}
      </label>
    </div>
    <div class="instructions">{{i18n "telegram-notifications.instructions"}}</div>
  </div>
